.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-group-text {
    background-color: #ffffff;
}


.navbar-img {
    max-width: 20%;
    height: auto;
}

.content-img {
    margin-top: 10px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-radius: 40px;
}


body {
    background-color: #c7c6c6; 
}
.navbar-brand {
    margin-left: 740px; 
}